* {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 10px;
  background-color: transparent;
}

window#waybar {
  color: #cad3f5;
}

#custom-menu,
#custom-media,
#workspaces,
#hardware,
#clock,
#custom-notification,
#custom-power {
  background-color: #24273a;
  padding: 1px 15px;
  border-radius: 25px;
  margin: 0px 5px;
  font-size: 15px;
}

#network,
#bluetooth,
#battery {
  font-size: 15px;
}

#custom-menu {
  padding-right: 17px;
}

#network,
#bluetooth,
#battery {
  margin: 0px 7px;
}

#custom-menu {
  padding-left: 14px;
  color: #8aadf4;
}

#custom-cava {
  color: #f5a97f;
  background-color: #24273a;
  border-left: 0px;
  border-right: 0px;
  border-radius: 25px;
  padding: 0px 15px;
  font-family: "Bars";
  font-size: 22px;
  margin-left: 5px;
}

#custom-media {
  color: #a6da95;
  margin-left: 10px;
}

#workspaces {
  background-color: #24273a;
  padding: 0px 15px;
  border-radius: 20px;
  font-size: 10px;
}
#workspaces button {
  color: #494d64;
  background-origin: border-box;
  background-color: #494d64;
  margin: 10px 5px;
  padding: 0px 0px;
  min-height: 1px;
  border-radius: 10px;
}
#workspaces button.active {
  background-origin: border-box;
  background-color: #8aadf4;
  color: #8aadf4;
  margin: 10px 5px;
  min-height: 1px;
  padding: 0px 15px;
  border-radius: 20px;
}

#network {
  color: #91d7e3;
}

#bluetooth {
  color: #8aadf4;
}

#battery {
  color: #a6da95;
}

#clock {
  color: #f5a97f;
}

#custom-notification {
  color: #8aadf4;
  padding-right: 17px;
}

#custom-power {
  color: #ed8796;
  padding-left: 13px;
}
