* {
  font-family: "Adwaita Sans", "CaskaydiaCove Nerd Font Propo";
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: #cad3f5;
  /* border-bottom: 2px solid #8aadf4; */
  /* margin-top: 5px; */
}

tooltip {
  background-color: #24273a;
  font-family: "CaskaydiaCove Nerd Font";
  border: 2px solid #8aadf4;
  border-radius: 15px;
  font-size: 15px;
}

#custom-menu,
#custom-media,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#battery,
#clock,
#custom-power {
  font-size: 15px;
  background-color: #24273a;
  padding: 7px 15px;
  border-radius: 20px;
}

#workspaces {
  background-color: #24273a;
  padding: 0px 15px;
  border-radius: 20px;
  font-size: 10px;
}
#workspaces button {
  color: #494d64;
  background-origin: border-box;
  background-color: #494d64;
  margin: 10px 5px;
  padding: 0px 0px;
  min-height: 1px;
  border-radius: 10px;
}
#workspaces button.active {
  background-origin: border-box;
  background-color: #8aadf4;
  color: #24273a;
  margin: 10px 5px;
  min-height: 1px;
  padding: 0px 10px;
  border-radius: 20px;
}
#workspaces button.empty {
  /* display: none; */
}

#workspaces,
#backlight,
#hardware,
#clock {
  margin: 0px 10px;
}

#custom-media {
  margin-left: 10px;
}

#network,
#pulseaudio {
  padding: 0px 6px;
}

#battery {
  padding: 0px 16px;
}

#custom-menu,
#custom-power {
  margin: 0px 5px;
}

#pulseaudio,
#network,
#battery {
  margin: 0px 2px;
}

#custom-menu {
  color: #8aadf4;
}
#custom-media {
  color: #c6a0f6;
}
#backlight {
  color: #eed49f;
}
#network {
  color: #91d7e3;
}
#bluetooth {
  color: #8aadf4;
}
#pulseaudio {
  color: #c6a0f6;
}
#battery {
  color: #a6da95;
}
#clock {
  color: #f5a97f;
}
#custom-power {
  color: #ed8796;
}
