* {
  font-family: "CaskaydiaCove Nerd Font";
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: #24273a;
  color: #cad3f5;
  border-bottom: 2px solid #8aadf4;
}

tooltip {
  background-color: #24273a;
  font-family: "CaskaydiaCove Nerd Font";
  border: 2px solid #8aadf4;
}

#custom-menu,
#workspaces,
#custom-media,
#backlight,
#hardware,
#clock,
#custom-power {
  padding: 0px 10px;
}

#workspaces,
#backlight,
#hardware,
#clock {
  margin: 0px 10px;
}

#network,
#pulseaudio,
#battery {
  padding: 0px 5px;
}

#workspaces button.active {
  color: #8aadf4;
}
#workspaces button.empty {
  opacity: 0.5;
}

#custom-menu,
#custom-power {
  margin: 0px 5px;
  padding: 0px 10px;
}

#pulseaudio,
#network,
#battery {
  margin: 0px 2px;
}

#clock {
  font-family: "CaskaydiaCove Nerd Font";
}

#custom-menu {
  color: #8aadf4;
}
#custom-media {
  color: #c6a0f6;
}
#backlight {
  color: #eed49f;
}
#network {
  color: #91d7e3;
}
#pulseaudio {
  color: #c6a0f6;
}
#battery {
  color: #a6da95;
}
#clock {
  color: #f5a97f;
}
#custom-power {
  color: #ed8796;
}

