* {
  box-shadow: none;
}

window {
  background-image: url("./wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: none;
  background-origin: border-box;
  margin: 150px 10px;
  border-radius: 10px;
  color: #f38ba8;
  text-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  min-width: 120px;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 20px;
  min-height: 120px;
  transition:
    background-size 0.1s linear,
    margin 0.1s linear,
    font-size 0.1s linear;
}

button:active {
  background-color: #24273a;
  outline-style: none;
  text-shadow: none;
}

button:hover,
button:focus {
  background-color: #f38ba8;
  background-size: 35%;
  color: #24273a;
  /* margin: 130px 0px; */
  font-size: 22px;
}

#lock {
  background-image: image(url("./icons/normal/lock.svg"));
}
#lock:hover {
  background-image: image(url("icons/focussed/lock.svg"));
}
#lock:focus {
  background-image: image(url("icons/focussed/lock.svg"));
}

#logout {
  background-image: image(url("icons/normal/logout.svg"));
}
#logout:hover {
  background-image: image(url("icons/focussed/logout.svg"));
}
#logout:focus {
  background-image: image(url("icons/focussed/logout.svg"));
}

#suspend {
  background-image: image(url("icons/normal/suspend.svg"));
}
#suspend:hover {
  background-image: image(url("icons/focussed/suspend.svg"));
}
#suspend:focus {
  background-image: image(url("icons/focussed/suspend.svg"));
}

#hibernate {
  background-image: image(url("icons/normal/hibernate.svg"));
}
#hibernate:hover {
  background-image: image(url("icons/focussed/hibernate.svg"));
}
#hibernate:focus {
  background-image: image(url("icons/focussed/hibernate.svg"));
}

#shutdown {
  background-image: image(url("icons/normal/shutdown.svg"));
}
#shutdown:hover {
  background-image: image(url("icons/focussed/shutdown.svg"));
}
#shutdown:focus {
  background-image: image(url("icons/focussed/shutdown.svg"));
}

#reboot {
  background-image: image(url("icons/normal/reboot.svg"));
}
#reboot:hover {
  background-image: image(url("icons/focussed/reboot.svg"));
}
#reboot:focus {
  background-image: image(url("icons/focussed/reboot.svg"));
}
